   Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
0   20847           High      0.01        2.84           0.93            3
1   20228  Not Specified      0.02      500.98          26.00            5
2   21776       Critical      0.06        9.48           7.29           11
3   24844         Medium      0.09       78.69          19.99           14
4   24846         Medium      0.08        3.28           2.31           14

       Customer Name       Ship Mode Customer Segment Product Category  ...  \
0      Bonnie Potter     Express Air        Corporate  Office Supplies  ...
1     Ronnie Proctor  Delivery Truck      Home Office        Furniture  ...
2      Marcus Dunlap     Regular Air      Home Office        Furniture  ...
3  Gwendolyn F Tyson     Regular Air   Small Business        Furniture  ...
4  Gwendolyn F Tyson     Regular Air   Small Business  Office Supplies  ...

    Region State or Province         City  Postal Code Order Date  Ship Date  \
0     West        Washington    Anacortes        98221 2015-01-07 2015-01-08
1     West        California  San Gabriel        91776 2015-06-13 2015-06-15
2     East        New Jersey      Roselle         7203 2015-02-15 2015-02-17
3  Central         Minnesota   Prior Lake        55372 2015-05-12 2015-05-14
4  Central         Minnesota   Prior Lake        55372 2015-05-12 2015-05-13

      Profit Quantity ordered new    Sales Order ID
0     4.5600                    4    13.01    88522
1  4390.3665                   12  6362.85    90193
2   -53.8096                   22   211.15    90192
3   803.4705                   16  1164.45    86838
4   -24.0300                    7    22.23    86838

[5 rows x 25 columns]

For this hackathon, I plan to create a supply chain optimization platform powered by AI. This platform will focus on demand forecasting, route optimization, and managing suppliers. By leveraging machine learning and real-time data analytics, it aims to help businesses improve their supply chain processes, cut costs, and make better decisions. Ultimately, this project is about enhancing efficiency and promoting sustainability in operations.

,Row ID,Discount,Unit Price,Shipping Cost,Customer ID,Product Base Margin,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
count,1952.000000,1952.000000,1952.000000,1952.000000,1952.000000,1936.000000,1952.000000,1952,1952,1952.000000,1952.000000,1952.000000,1952.000000
mean,19916.479508,0.048975,109.079221,12.968151,1735.376537,0.515186,51534.769467,2015-03-29 01:21:08.852459008,2015-03-30 23:55:34.426229248,114.793859,12.944672,985.828832,82365.924180
min,64.000000,0.000000,1.140000,0.490000,3.000000,0.350000,1001.000000,2015-01-01 00:00:00,2015-01-02 00:00:00,-16476.838000,1.000000,2.250000,359.000000
25%,19121.000000,0.020000,6.480000,3.230000,875.000000,0.380000,28560.000000,2015-02-11 00:00:00,2015-02-13 00:00:00,-84.485400,5.000000,58.807500,86767.750000
50%,21164.500000,0.050000,20.990000,6.150000,1738.000000,0.525000,48765.500000,2015-03-27 12:00:00,2015-03-29 00:00:00,1.476450,10.000000,202.395000,88376.000000
75%,23483.250000,0.080000,100.972500,14.362500,2578.250000,0.590000,78550.000000,2015-05-15 00:00:00,2015-05-16 00:00:00,116.201575,16.000000,802.945000,89957.000000
max,26389.000000,0.210000,6783.020000,164.730000,3403.000000,0.850000,99362.000000,2015-06-30 00:00:00,2015-07-08 00:00:00,9228.225600,167.000000,45737.330000,91586.000000
std,5957.595627,0.031378,393.481301,17.414631,991.078006,0.137055,29362.828420,NaN,NaN,1141.112387,13.871565,2559.900167,19042.295798

Row ID                   0
Order Priority           0
Discount                 0
Unit Price               0
Shipping Cost            0
Customer ID              0
Customer Name            0
Ship Mode                0
Customer Segment         0
Product Category         0
Product Sub-Category     0
Product Container        0
Product Name             0
Product Base Margin     16
Country                  0
Region                   0
State or Province        0
City                     0
Postal Code              0
Order Date               0
Ship Date                0
Profit                   0
Quantity ordered new     0
Sales                    0
Order ID                 0
dtype: int64

Row ID                   0
Order Priority           0
Discount                 0
Unit Price               0
Shipping Cost            0
Customer ID              0
Customer Name            0
Ship Mode                0
Customer Segment         0
Product Category         0
Product Sub-Category     0
Product Container        0
Product Name             0
Product Base Margin     16
Country                  0
Region                   0
State or Province        0
City                     0
Postal Code              0
Order Date               0
Ship Date                0
Profit                   0
Quantity ordered new     0
Sales                    0
Order ID                 0
dtype: int64

Total number of missing values: 16

Total number of duplicate rows: 0

      Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
0      20847           High      0.01        2.84           0.93            3
1      20228  Not Specified      0.02      500.98          26.00            5
2      21776       Critical      0.06        9.48           7.29           11
3      24844         Medium      0.09       78.69          19.99           14
4      24846         Medium      0.08        3.28           2.31           14
...      ...            ...       ...         ...            ...          ...
1947   19842           High      0.01       10.90           7.46         3397
1948   19843           High      0.10        7.99           5.03         3397
1949   26208  Not Specified      0.08       11.97           5.81         3399
1950   24911         Medium      0.10        9.38           4.93         3400
1951   25914           High      0.10      105.98          13.99         3403

          Customer Name       Ship Mode Customer Segment Product Category  \
0         Bonnie Potter     Express Air        Corporate  Office Supplies
1        Ronnie Proctor  Delivery Truck      Home Office        Furniture
2         Marcus Dunlap     Regular Air      Home Office        Furniture
3     Gwendolyn F Tyson     Regular Air   Small Business        Furniture
4     Gwendolyn F Tyson     Regular Air   Small Business  Office Supplies
...                 ...             ...              ...              ...
1947        Andrea Shaw     Regular Air   Small Business  Office Supplies
1948        Andrea Shaw     Regular Air   Small Business       Technology
1949        Marvin Reid     Regular Air   Small Business  Office Supplies
1950      Florence Gold     Express Air   Small Business        Furniture
1951      Tammy Buckley     Express Air         Consumer        Furniture

      ...   Region State or Province         City  Postal Code Order Date  \
0     ...     West        Washington    Anacortes        98221 2015-01-07
1     ...     West        California  San Gabriel        91776 2015-06-13
2     ...     East        New Jersey      Roselle         7203 2015-02-15
3     ...  Central         Minnesota   Prior Lake        55372 2015-05-12
4     ...  Central         Minnesota   Prior Lake        55372 2015-05-12
...   ...      ...               ...          ...          ...        ...
1947  ...  Central          Illinois     Danville        61832 2015-03-11
1948  ...  Central          Illinois     Danville        61832 2015-03-11
1949  ...  Central          Illinois  Des Plaines        60016 2015-03-29
1950  ...     East     West Virginia     Fairmont        26554 2015-04-04
1951  ...     West           Wyoming     Cheyenne        82001 2015-02-08

      Ship Date     Profit Quantity ordered new    Sales Order ID
0    2015-01-08     4.5600                    4    13.01    88522
1    2015-06-15  4390.3665                   12  6362.85    90193
2    2015-02-17   -53.8096                   22   211.15    90192
3    2015-05-14   803.4705                   16  1164.45    86838
4    2015-05-13   -24.0300                    7    22.23    86838
...         ...        ...                  ...      ...      ...
1947 2015-03-12  -116.7600                   18   207.31    87536
1948 2015-03-12  -160.9520                   22   143.12    87536
1949 2015-03-31   -41.8700                    5    59.98    87534
1950 2015-04-04   -24.7104                   15   135.78    87537
1951 2015-02-11   349.4850                    5   506.50    87530

[1952 rows x 25 columns]

C:\Users\ammou\AppData\Local\Temp\ipykernel_18084\249662313.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Product Base Margin'].fillna(data['Product Base Margin'].mean(), inplace=True)

In [20]:
import pandas as pd

file_path = "SuperStoreUS-2015.xlsx"
data = pd.read_excel(file_path)

print(data.head())
data.describe()
total_nulls = data.isnull().sum()

print(total_nulls)
null_count = data.isnull().sum()
print(null_count)
null_count_total = data.isnull().sum().sum()
print("Total number of missing values:", null_count_total)
duplicates = data.duplicated()
print(f"Total number of duplicate rows: {duplicates.sum()}")
data['Product Base Margin'].fillna(data['Product Base Margin'].mean(), inplace=True)

print(data)
ols = ['Order Priority', 'Ship Mode', 'Customer Segment', 
                       'Product Category', 'Product Sub-Category', 
                       'Product Container', 'Country', 'Region', 
                       'State or Province', 'City']

for column in cols:
    print(f"Unique values in '{column}':{data[column].unique()}\n")

   Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
0   20847           High      0.01        2.84           0.93            3
1   20228  Not Specified      0.02      500.98          26.00            5
2   21776       Critical      0.06        9.48           7.29           11
3   24844         Medium      0.09       78.69          19.99           14
4   24846         Medium      0.08        3.28           2.31           14

       Customer Name       Ship Mode Customer Segment Product Category  ...  \
0      Bonnie Potter     Express Air        Corporate  Office Supplies  ...
1     Ronnie Proctor  Delivery Truck      Home Office        Furniture  ...
2      Marcus Dunlap     Regular Air      Home Office        Furniture  ...
3  Gwendolyn F Tyson     Regular Air   Small Business        Furniture  ...
4  Gwendolyn F Tyson     Regular Air   Small Business  Office Supplies  ...

    Region State or Province         City  Postal Code Order Date  Ship Date  \
0     West        Washington    Anacortes        98221 2015-01-07 2015-01-08
1     West        California  San Gabriel        91776 2015-06-13 2015-06-15
2     East        New Jersey      Roselle         7203 2015-02-15 2015-02-17
3  Central         Minnesota   Prior Lake        55372 2015-05-12 2015-05-14
4  Central         Minnesota   Prior Lake        55372 2015-05-12 2015-05-13

      Profit Quantity ordered new    Sales Order ID
0     4.5600                    4    13.01    88522
1  4390.3665                   12  6362.85    90193
2   -53.8096                   22   211.15    90192
3   803.4705                   16  1164.45    86838
4   -24.0300                    7    22.23    86838

[5 rows x 25 columns]
Row ID                   0
Order Priority           0
Discount                 0
Unit Price               0
Shipping Cost            0
Customer ID              0
Customer Name            0
Ship Mode                0
Customer Segment         0
Product Category         0
Product Sub-Category     0
Product Container        0
Product Name             0
Product Base Margin     16
Country                  0
Region                   0
State or Province        0
City                     0
Postal Code              0
Order Date               0
Ship Date                0
Profit                   0
Quantity ordered new     0
Sales                    0
Order ID                 0
dtype: int64
Row ID                   0
Order Priority           0
Discount                 0
Unit Price               0
Shipping Cost            0
Customer ID              0
Customer Name            0
Ship Mode                0
Customer Segment         0
Product Category         0
Product Sub-Category     0
Product Container        0
Product Name             0
Product Base Margin     16
Country                  0
Region                   0
State or Province        0
City                     0
Postal Code              0
Order Date               0
Ship Date                0
Profit                   0
Quantity ordered new     0
Sales                    0
Order ID                 0
dtype: int64
Total number of missing values: 16
Total number of duplicate rows: 0
      Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
0      20847           High      0.01        2.84           0.93            3
1      20228  Not Specified      0.02      500.98          26.00            5
2      21776       Critical      0.06        9.48           7.29           11
3      24844         Medium      0.09       78.69          19.99           14
4      24846         Medium      0.08        3.28           2.31           14
...      ...            ...       ...         ...            ...          ...
1947   19842           High      0.01       10.90           7.46         3397
1948   19843           High      0.10        7.99           5.03         3397
1949   26208  Not Specified      0.08       11.97           5.81         3399
1950   24911         Medium      0.10        9.38           4.93         3400
1951   25914           High      0.10      105.98          13.99         3403

          Customer Name       Ship Mode Customer Segment Product Category  \
0         Bonnie Potter     Express Air        Corporate  Office Supplies
1        Ronnie Proctor  Delivery Truck      Home Office        Furniture
2         Marcus Dunlap     Regular Air      Home Office        Furniture
3     Gwendolyn F Tyson     Regular Air   Small Business        Furniture
4     Gwendolyn F Tyson     Regular Air   Small Business  Office Supplies
...                 ...             ...              ...              ...
1947        Andrea Shaw     Regular Air   Small Business  Office Supplies
1948        Andrea Shaw     Regular Air   Small Business       Technology
1949        Marvin Reid     Regular Air   Small Business  Office Supplies
1950      Florence Gold     Express Air   Small Business        Furniture
1951      Tammy Buckley     Express Air         Consumer        Furniture

      ...   Region State or Province         City  Postal Code Order Date  \
0     ...     West        Washington    Anacortes        98221 2015-01-07
1     ...     West        California  San Gabriel        91776 2015-06-13
2     ...     East        New Jersey      Roselle         7203 2015-02-15
3     ...  Central         Minnesota   Prior Lake        55372 2015-05-12
4     ...  Central         Minnesota   Prior Lake        55372 2015-05-12
...   ...      ...               ...          ...          ...        ...
1947  ...  Central          Illinois     Danville        61832 2015-03-11
1948  ...  Central          Illinois     Danville        61832 2015-03-11
1949  ...  Central          Illinois  Des Plaines        60016 2015-03-29
1950  ...     East     West Virginia     Fairmont        26554 2015-04-04
1951  ...     West           Wyoming     Cheyenne        82001 2015-02-08

      Ship Date     Profit Quantity ordered new    Sales Order ID
0    2015-01-08     4.5600                    4    13.01    88522
1    2015-06-15  4390.3665                   12  6362.85    90193
2    2015-02-17   -53.8096                   22   211.15    90192
3    2015-05-14   803.4705                   16  1164.45    86838
4    2015-05-13   -24.0300                    7    22.23    86838
...         ...        ...                  ...      ...      ...
1947 2015-03-12  -116.7600                   18   207.31    87536
1948 2015-03-12  -160.9520                   22   143.12    87536
1949 2015-03-31   -41.8700                    5    59.98    87534
1950 2015-04-04   -24.7104                   15   135.78    87537
1951 2015-02-11   349.4850                    5   506.50    87530

[1952 rows x 25 columns]
Unique values in 'Order Priority':['High' 'Not Specified' 'Critical' 'Medium' 'Low' 'Critical ']

Unique values in 'Ship Mode':['Express Air' 'Delivery Truck' 'Regular Air']

Unique values in 'Customer Segment':['Corporate' 'Home Office' 'Small Business' 'Consumer']

Unique values in 'Product Category':['Office Supplies' 'Furniture' 'Technology']

Unique values in 'Product Sub-Category':['Pens & Art Supplies' 'Chairs & Chairmats' 'Office Furnishings'
 'Rubber Bands' 'Envelopes' 'Telephones and Communication'
 'Office Machines' 'Paper' 'Binders and Binder Accessories' 'Labels'
 'Storage & Organization' 'Tables' 'Scissors, Rulers and Trimmers'
 'Computer Peripherals' 'Bookcases' 'Appliances' 'Copiers and Fax']

Unique values in 'Product Container':['Wrap Bag' 'Jumbo Drum' 'Small Pack' 'Small Box' 'Medium Box' 'Jumbo Box'
 'Large Box']

Unique values in 'Country':['United States']

Unique values in 'Region':['West' 'East' 'Central' 'South']

Unique values in 'State or Province':['Washington' 'California' 'New Jersey' 'Minnesota' 'New York' 'Montana'
 'Oregon' 'Texas' 'Virginia' 'Vermont' 'Ohio' 'Louisiana' 'Illinois'
 'Kansas' 'Maine' 'Massachusetts' 'New Hampshire' 'Utah' 'Connecticut'
 'Pennsylvania' 'Tennessee' 'Colorado' 'Michigan' 'Oklahoma'
 'North Carolina' 'Iowa' 'Florida' 'New Mexico' 'Arizona' 'Georgia'
 'Maryland' 'Rhode Island' 'Nebraska' 'Missouri' 'Nevada' 'Kentucky'
 'West Virginia' 'Mississippi' 'Indiana' 'South Carolina' 'Arkansas'
 'District of Columbia' 'Delaware' 'Alabama' 'Idaho' 'Wisconsin'
 'South Dakota' 'Wyoming' 'North Dakota']

Unique values in 'City':['Anacortes' 'San Gabriel' 'Roselle' 'Prior Lake' 'Smithtown' 'Syracuse'
 'Helena' 'Missoula' 'New York City' 'Laguna Niguel' 'Lakewood'
 'Grants Pass' 'Gresham' 'Redmond' 'Puyallup' 'Tonawanda' 'Round Rock'
 'Salem' 'Napa' 'Burlington' 'Canton' 'Cincinnati' 'Vacaville' 'Vallejo'
 'Terrytown' 'Chicago' 'Manhattan' 'Biddeford' 'Boston' 'Dover' 'Lodi'
 'Lake Oswego' 'Mcminnville' 'Seattle' 'Layton' 'Tysons Corner' 'Alton'
 'Petaluma' 'Ansonia' 'Yarmouth' 'West Mifflin' 'Watauga' 'Kingsport'
 'Knoxville' 'Fort Collins' 'Richland' 'Lebanon' 'Baton Rouge' 'Fort Lee'
 'San Francisco' 'Arlington' 'Gainesville' 'Arlington Heights' 'Aurora'
 'Lehi' 'Overland Park' 'Detroit' 'Bartlesville' 'Troy' 'Utica' 'Murray'
 'Mint Hill' 'Orland Park' 'Newton' 'Louisville' 'Fountain'
 'Grand Junction' 'Maryville' 'Richfield' 'Highlands Ranch' 'Hanover'
 'Seminole' 'Santa Fe' 'Cleveland Heights' 'San Antonio' 'Flagstaff'
 'Gilbert' 'Forest Park' 'Charlotte' 'Fairfield' 'Newington' 'Belleville'
 'Newark' 'Shawnee' 'Wichita' 'Loveland' 'Pikesville' 'Belchertown'
 'Lemon Grove' 'Potomac' 'Batavia' 'Sanford' 'Goffstown' 'Medford'
 'Columbus' 'Miami' 'Bangor' 'Portland' 'Watertown' 'Glendale' 'Kingman'
 'King of Prussia' 'Cranston' 'Oakland' 'Lewiston' 'Everett' 'Morristown'
 'Bloomington' 'Drexel Hill' 'Grand Island' 'Kearney' 'Lincoln' 'Clayton'
 'Auburn' 'Albemarle' 'Cuyahoga Falls' 'Dayton' 'South Vineland'
 'San Juan' 'Elizabeth' 'Carson City' 'Lunenburg' 'Urbana' 'Norfolk'
 'Roseville' 'Los Altos' 'Los Banos' 'Los Gatos' 'Millville'
 'West Hollywood' 'Bellingham' 'Beverly' 'Hanson' 'Hawthorne' 'Trenton'
 'Atlanta' 'Randallstown' 'Oswego' 'Fresno' 'South Portland' 'Norwood'
 'Seatac' 'Murfreesboro' 'Bowling Green' 'Covington' 'Manteca' 'Farragut'
 'Mesa' 'Montclair' 'Vernon Hills' 'Morgantown' 'Roswell' 'Seguin'
 'Sherman' 'Los Angeles' 'Pleasant Grove' 'Provo' 'Henderson' 'Pekin'
 'Pomona' 'Naugatuck' 'Seymour' 'Woburn' 'Concord' 'Wilmette' 'Woodridge'
 'Anderson' 'Carmel' 'Reisterstown' 'Pueblo' 'West Islip' 'Pueblo West'
 'Southgate' 'Manchester' 'Rutland' 'Steubenville' 'Saint Paul'
 'Santa Clara' 'Santa Cruz' 'Santa Maria' 'Shakopee' 'Bolingbrook'
 'Buffalo Grove' 'Las Vegas' 'Rancho Cucamonga' 'Oxford'
 'South Burlington' 'Nashville' 'Dallas' 'Ottumwa' 'Raytown' 'Rose Hill'
 'Spanaway' 'Spokane' 'Papillion' 'Saint Louis' 'Saint Peters' 'Tacoma'
 'Thornton' 'Crown Point' 'East Chicago' 'Santa Rosa' 'Winthrop' 'Pahrump'
 'Frankfort' 'Stratford' 'Bloomfield' 'Cranford' 'Summit' 'Oro Valley'
 'Peoria' 'Florence' 'Georgetown' 'Prescott' 'Prescott Valley' 'Tualatin'
 'Quincy' 'Vancouver' 'Rock Island' 'West Linn' 'Allentown' 'Whittier'
 'Bristol' 'Mission Viejo' 'Mustang' 'Roy' 'Hilton Head Island'
 'New Smyrna Beach' 'Walla Walla' 'Smyrna' 'Spring Hill' 'Abilene'
 'Amarillo' 'Texarkana' 'Wheat Ridge' 'Gilroy' 'Goleta' 'Hacienda Heights'
 'Hesperia' 'Branford' 'Danbury' 'Shoreview' 'Reno' 'Salt Lake City'
 'Scottsdale' 'Bedford' 'Washington' 'Denton' 'Altoona' 'Wilmington'
 'Wheeling' 'Bryan' 'Burleson' 'Redding' 'Redlands' 'Augusta' 'Old Bridge'
 'Redondo Beach' 'New Milford' 'Saratoga' 'Bayonne' 'Highland Village'
 'Redwood City' 'Riverside' 'Searcy' 'Oxnard' 'West Scarborough'
 'Ridgewood' 'Bennington' 'Gorham' 'Saco' 'Bryant' 'Apex' 'Asheville'
 'Cary' 'Pittsburg' 'Wilkinsburg' 'Central Islip' 'Cheektowaga' 'Commack'
 'Delaware' 'Dublin' 'Belle Glade' 'Woodland' 'Yuba City' 'Surprise'
 'Coram' 'Burbank' 'Calumet City' 'Carbondale' 'Bethlehem' 'Romeoville'
 'Saint Charles' 'Springfield' 'Deer Park' 'Dix Hills' 'Omaha'
 'Lake Jackson' 'Lancaster' 'Laredo' 'Yucaipa' 'Arvada' 'Tucson'
 'Temecula' 'Norwich' 'Eagle Pass' 'Edinburg' 'El Paso' 'Euless'
 'Farmers Branch' 'Carol Stream' 'The Colony' 'Waco' 'South Hadley'
 'Montebello' 'Tewksbury' 'Union City' 'Altamonte Springs' 'Spanish Fork'
 'Springville' 'Madison' 'Huntington Beach' 'New Britain' 'Immokalee'
 'Sudbury' 'Nashua' 'Elmwood Park' 'South Orange' 'Fort Wayne' 'Gary'
 'Granger' 'Pawtucket' 'Philadelphia' 'Sulphur Springs' 'Flower Mound'
 'Carrollton' 'Cedar Hill' 'Leander' 'Carpentersville' 'Cedar Park'
 'Channelview' 'Danville' 'Broomfield' 'Altus' 'Boca Raton' 'La Mesa'
 'Hammond' 'Vincennes' 'Tooele' 'West Jordan' 'West Valley City'
 'Coos Bay' 'Colorado Springs' 'Commerce City' 'Chambersburg' 'Brandon'
 'Carol City' 'Coconut Creek' 'Camp Springs' 'Weatherford' 'Weslaco'
 'Muscatine' 'Allen Park' 'Casselberry' 'Lubbock' 'Lufkin' 'Mansfield'
 'Stockton' 'Portsmouth' 'Alexandria' 'Menlo Park' 'Sunnyvale'
 'Battle Creek' 'Moreno Valley' 'Mountain View' 'Indianapolis' 'Kokomo'
 'Lafayette' 'Englewood' 'Bay City' 'Jeffersonville' 'Elyria' 'Euclid'
 'South Lake Tahoe' 'Taylors' 'Clearfield' 'Westerville' 'Westlake'
 'Wooster' 'Des Plaines' 'Downers Grove' 'Ozark' 'Dundalk' 'Elmira'
 'Coral Gables' 'Coral Springs' 'College Station' 'Muncie' 'Hopkins'
 'Birmingham' 'Decatur' 'Eden' 'Palm Coast' 'University City' 'Richmond'
 'Biloxi' 'Clinton' 'Greenville' 'Gulfport' 'Annandale' 'Blacksburg'
 'Fayetteville' 'Waterville' 'Willoughby' 'Huntington' 'Waldorf'
 'Woodmere' 'Franklin Square' 'Freeport' 'Sacramento' 'Hopkinton'
 'Highland' 'Schererville' 'Glen Cove' 'Greeneville' 'Hattiesburg'
 'Horn Lake' 'Jackson' 'Salinas' 'Stamford' 'Friendswood' 'Bethpage'
 'Woodstock' 'Asheboro' 'Thousand Oaks' 'Laguna Hills' 'Burke'
 'Charlottesville' 'Fairborn' 'Conroe' 'Elgin' 'Harrisburg' 'Reston'
 'Hot Springs' 'Levittown' 'Meridian' 'Shaker Heights' 'Pottstown'
 'Marietta' 'Martinez' 'Newnan' 'Garner' 'Northport' 'Jonesboro'
 'San Diego' 'Hilliard' 'Kent' 'Kettering' 'Moscow' 'Harrison' 'Hempstead'
 'Gastonia' 'Goldsboro' 'Enid' 'Lawton' 'Torrance' 'Dunedin' 'Creve Coeur'
 'South Bend' 'Terre Haute' 'Valparaiso' 'West Lafayette' 'San Carlos'
 'San Clemente' 'Galesburg' 'Parkersburg' 'Olive Branch' 'Pearl'
 'Dearborn' 'Bettendorf' 'Cedar Falls' 'Cedar Rapids' 'Townsend'
 'Enterprise' 'Carlsbad' 'Webster' 'Alamogordo' 'Palm Beach Gardens'
 'Chesapeake' 'Linden' 'Barrington' 'Lima' 'Webster Groves' 'Appleton'
 'Lorain' 'Peachtree City' 'Little Rock' 'North Little Rock' 'Paragould'
 'Pine Bluff' 'Greer' 'Garland' 'Grand Prairie' 'Emporia' 'Draper'
 'Mount Lebanon' 'Bozeman' 'Butte' 'Saginaw' 'Tupelo' 'Willow Grove'
 'Dearborn Heights' 'East Lansing' 'Littleton' 'Midland' 'Holladay'
 'Kearns' 'East Massapequa' 'Durango' 'Council Bluffs' 'Plum'
 'Mount Vernon' 'Rogers' 'Liberal' 'Harrisonburg' 'Albuquerque' 'Hickory'
 'High Point' 'North Platte' 'Mechanicsville' 'Newport News'
 'Indian Trail' 'Fort Thomas' 'Eastpointe' 'Farmington Hills' 'Flint'
 'Garden City' 'Ithaca' 'New City' 'Chico' 'Mount Pleasant' 'Myrtle Beach'
 'Mehlville' 'Oakton' 'Sherwood' 'West Memphis' 'Sterling Heights'
 'Gladstone' 'Hazelwood' 'Clovis' 'West Palm Beach' 'Fairfax'
 'Fort Lauderdale' 'Dubuque' 'Warren' 'Westland' 'Sharon' 'Pasadena'
 'Worcester' 'Owensboro' 'Independence' 'New Bern' 'Jamestown'
 'Lindenhurst' 'Brooklyn Center' 'Brooklyn Park' 'Burnsville' 'Fort Dodge'
 'College Park' 'Bowie' 'Catonsville' 'Massillon' 'Medina' 'Winter Garden'
 'Hobbs' 'Lakeland' 'State College' 'Paducah' 'Raleigh' 'Rocky Mount'
 'Rome' 'Joplin' 'Kansas City' 'Kirkwood' 'Land O Lakes' 'Mauldin'
 'Harker Heights' 'Harlingen' 'Houston' 'Niagara Falls' 'Greensburg'
 'Eau Claire' 'Fitchburg' 'Franklin' 'Rock Hill' 'Spartanburg'
 'Summerville' 'Coon Rapids' 'Panama City' 'Lehigh Acres' 'Coachella'
 'Marion' 'Green Bay' 'Greenfield' 'Cloverleaf' 'Pleasure Ridge Park'
 'Crofton' 'Cumberland' 'Edgewood' 'Rock Springs' 'Fort Myers'
 'Fruit Cove' 'Pembroke Pines' 'Duluth' 'Grand Rapids' 'Las Cruces'
 'Oceanside' 'Sandy Springs' 'Savannah' 'Hanover Park' 'Petersburg'
 'Huntsville' 'Hurst' 'Irving' 'Keller' 'Killeen' 'Midwest City' 'Moore'
 'Muskego' 'Melbourne' 'Merritt Island' 'Edina' 'Janesville' 'Hoover'
 'Mobile' 'Lino Lakes' 'Bossier City' 'Sault Sainte Marie' 'Salisbury'
 'Joliet' 'Winter Haven' 'Statesboro' 'Tucker' 'Cabot' 'Costa Mesa'
 'Kankakee' 'Lake In The Hills' 'Munster' 'Cheshire' 'Cambridge'
 'Providence' 'Corsicana' 'Lake Charles' 'Apple Valley' 'Atascadero'
 'Winter Park' 'Winter Springs' 'Virginia Beach' 'Whitehall' 'York'
 'Kenosha' 'Ossining' 'Fridley' 'Davis' 'Opelika' 'Phenix City' 'Holland'
 'Inkster' 'Manitowoc' 'Athens' 'Merrimack' 'Hackensack' 'Iselin' 'Fords'
 'Portage' 'Aberdeen' 'Sioux Falls' 'Bartlett' 'Brentwood' 'Norman'
 'Boise' 'Bakersfield' 'Baldwin' 'Derby' 'Rapid City' 'Winchester'
 'Port Charlotte' 'Plainview' 'Clifton' 'Tuscaloosa' 'Vestavia Hills'
 'Bullhead City' 'Pensacola' 'Ellicott City' 'Kalamazoo' 'Lansing'
 'Dalton' 'Chattanooga' 'Clarksville' 'Caldwell' 'Chandler' 'Waynesboro'
 'Waterbury' 'Lindenwold' 'Dunwoody' 'East Point' 'Franklin Park'
 'Gaithersburg' 'Wilson' 'Woodburn' 'Metairie' 'Madison Heights'
 'Marshalltown' 'Mason City' 'Sioux City' 'Pittsburgh' 'East Los Angeles'
 'Cleveland' 'Oakville' 'North Las Vegas' 'El Centro'
 'Inver Grove Heights' 'Tulsa' 'North Miami' 'Collierville' 'Columbia'
 'Odessa' 'Des Moines' 'Hays' 'La Vista' 'Paris' 'Edmonds' 'Hialeah'
 'North Olmsted' 'North Miami Beach' 'North Ridgeville' 'North Royalton'
 'Parma' 'Livonia' 'Mankato' 'Maple Grove' 'Reynoldsburg'
 'Garfield Heights' 'Grand Forks' 'Hagerstown' 'Laurel' 'Charleston'
 'El Dorado Hills' 'Stoneham' 'Depew' 'Grove City' 'Maplewood' 'Milwaukee'
 'Neenah' 'Van Buren' 'Middle River' 'Hollywood' 'New Berlin' 'Oak Creek'
 'Dickinson' 'Sandusky' 'West Des Moines' 'Racine' 'Sheboygan' 'Oak Park'
 'Pontiac' 'Port Huron' 'Coeur D Alene' 'Idaho Falls' 'Minnetonka Mills'
 'Rochester' 'Encinitas' 'Lombard' 'Mandan' 'Hutchinson' 'Leavenworth'
 'Leawood' 'Berkeley' 'Kirkland' 'Lacey' 'Austintown' 'Oakdale' 'Stow'
 'Strongsville' 'Toledo' 'North Port' 'Hamilton' 'Shirley' 'Oakland Park'
 'New Iberia' 'Orlando' 'New Orleans' 'Melrose Park' 'Moline'
 'Mount Prospect' 'Shreveport' 'Mundelein' 'Naperville' 'Laconia'
 'Londonderry' 'Pflugerville' 'Pharr' 'Post Falls' 'Rexburg'
 'Twentynine Palms' 'Saint Petersburg' 'Ponte Vedra Beach' 'Port Orange'
 'Port Saint Lucie' 'Jacksonville' 'Jupiter' 'Owatonna' 'Riverview'
 'Stevens Point' 'Northbrook' 'Twin Falls' 'Beverly Hills' 'Addison'
 'Sunrise' 'Tallahassee' 'Gallatin' 'Germantown' 'Hendersonville'
 'Superior' 'Waukesha' 'Corvallis' 'Hudson' 'Slidell' 'Annapolis'
 'Rotterdam' 'Tamarac' 'Longview' 'Lynnwood' 'Adrian' 'Eureka'
 'North Plainfield' 'Kendall' 'Kissimmee' 'Herndon' 'Granite Bay'
 'Lake Worth' 'New London' 'Agawam' 'Natick' 'Sandwich' 'El Mirage'
 'Ormond Beach' 'Tampa' 'Titusville' 'Troutdale' 'Rochester Hills'
 'Royal Palm Beach' 'Parkland' 'Pasco' 'Calexico' 'Camarillo' 'Eagle'
 'Wauwatosa' 'West Allis' 'West Bend' 'Upper Arlington' 'Odenton'
 'Kennesaw' 'La Grange' 'Macon' 'Boardman' 'Pullman' 'Fairmont' 'Cheyenne']

C:\Users\ammou\AppData\Local\Temp\ipykernel_18084\867498375.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Product Base Margin'].fillna(data['Product Base Margin'].mean(), inplace=True)